* {
    margin: 0;
    padding: 0;
}

header nav div a img {
    width: 90px;
    height: 90px;
}

main div h2 {
    padding: 10px;
    font-size: 50px;
}

.hrlinha {
    width: 600px;
    height: 3px;
    background-color: #FFC107;
    margin: 0 auto;
    border: none;
}

.textoh1 {
    font-size: 40px;
}

.textop1 {
    font-size: 18px;
}